<?xml version="1.0"?>
<robot name="myfirst">

  <link name="link_0">
    <visual>
      <geometry>
        <box size="0.19 0.19 0.17"/>
      </geometry>
    </visual>
  </link>

  <link name="link_1">
    <visual>
      <geometry>
        <cylinder length="0.12" radius="0.085"/>
      </geometry>
    </visual>
  </link>

<joint name="joint_0" type="fixed">
    <parent link="link_0"/>
    <child link="link_1"/>
  </joint>

</robot>

